.user-login {
    width: 80%;
    margin:  0 auto;

  }
  
  .user-login__title {
    margin-bottom: 20%;
    text-align: center;
    
  }
  
  .user-login__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .user-login__form-control label {
    margin-bottom: 5px;
    margin-top: 30px;
    color: #fff;
    font-size: 1.5rem;
    
  }

  .user-login__form-control label::placeholder {
    color: #fff;
    font-size: 1.5rem;
    
  }
  
  .user-login__form-control input {
    
    border:  solid #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #000;
    height: 36px;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  .user-login__form-control input::placeholder {
    color: #fff;
    font-size: 1.5rem;
    padding-left:  -10px;
  }
  
  .submit-button_login {
    margin-top: 50px;
    margin: 0 auto;
  }

.btn_login{
  margin-top: 80px;
  width: 100%;
  
  display: flex;
  justify-content: center;
 
}

