
.topbar_container img{
    
}


.topbar_container{
    width: 100vw;
    height: 80px;
    background-color: #000;
    display: flex;
}

.topbar_container img {
    margin-left: 3%;
}

/*===== hamburguer menu ======== */

.mobileNavigation{
    display: none;

}

@media (max-width: 1250px){
    .topbar_container .navigation{
        display: none;
    }

    .topbar_container .mobileNavigation{
        display: flex;
        align-items: center;
    }
    .topbar_container .mobileNavigation .hamburgerMenu{
        position: absolute;
        right: 3%;
        cursor: pointer;
    }

    /*===== Responsive nevLinks ======== */
    .topbar_nav{
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #000;
        
    }
    .asignIn_topbar {
        flex-direction: column;
        margin-right: 0px;
    }

    .asignIn_topbar .Login_topbar{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .asignIn_topbar .btn_topbar{
        margin-top: 10px;
        margin-bottom: 30px;
    }


    .Login_topbar a {
        margin-right: 10px;
    }


    .topbar_nav ul {
        flex-direction: column-reverse;
       
        padding-left: 0px;
        
    }
    .topbar_nav ul li {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
   
}