.carousel_container{
    background-color: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;

}

.carousel_items{
    display: flex;
    align-items: center;
    max-width: 900px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel_items::-webkit-scrollbar {
    display: none;
}
/*========= Setas =========*/

.FaChevron{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}